# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/*.db
backend/*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/.env
# Arquivos de Segredo (Global)
.env
.env.*
!.env.example

# Cache e Relatórios de Teste (Global)
__pycache__/
.pytest_cache/
.coverage
htmlcov/

# Arquivos de IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db