# Arquivos de Segredo e Variáveis de Ambiente
.env
.env.*
!.env.example

# Ambientes Virtuais
# A pasta venv contém as bibliotecas instaladas
venv/
.venv/
env/
.env/
ENV/

# Cache e arquivos compilados do Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de IDE e Editores de Código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Banco de dados local (SQLite)
*.db
*.sqlite
*.sqlite3

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos e pastas de testes

.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
