@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1543466835-00a7907e9de1?q=80&w=2874&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
}